body{
margin-top:300px;
margin-left:300px;
background-color:black;
}
button{
	height:80px;
	width:150px;
	font-size:30px;
	font-weight:bold;
	background-color:rgb(20,190,90);
	border-radius:30px;
}
button{
	color:rgb(20,20,120);
	box-shadow:20px 30px 10px 100px red insert;
}