.parent{
    height:800px;
    display:flex;
    border:3px solid green;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:2em;
    text-align:center;
}
.child{
    height:100px;
    width:100px;
}
#ra{
    background-color:aqua;
    order:1;
    flex-grow:1;
    flex-shrink:1;
    align-self:center;
}
#ru{
    background-color:blue;
    order:3;
    align-self:flex-end;
}
#su{
    background-color:blueviolet;
    order:2;
    align-self:center;
}