.parent{
    color:aliceblue;
    margin-left:20px;
}
.class1{
    background-color:blue;
}
.class2{
    background-color:rgb(255,0,230);
    position:fixed;
    bottom:50px;
    
}
.class3{
    background-color:red;
    position:static;
    top:30px;
}